<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace的名字必须和mappr接口的全类名一致 -->
<mapper namespace="mybaties.xml.mapper.TbUserMapper1">
    <!-- id 要和方法名一致 -->
    <select id="selectByUserId" resultType="mybaties.xml.bean.TbUser1">
        select *
        from `tb_user`
        where `user_id` = #{userId}
    </select>

    <select id="selectByUser1" resultType="mybaties.xml.bean.TbUser1">
        select *
        from `tb_user`
        where `user_id` = #{userId}
          and `user_name` = #{userName}
    </select>

    <select id="selectByUser2" resultType="mybaties.xml.bean.TbUser1" parameterType="mybaties.xml.bean.TbUser1">
        select *
        from `tb_user`
        where `user_id` = #{userId}
          and `user_name` = #{userName}
    </select>

    <!--    resultType 以及 parameterType 只需要写类名即可-->
    <select id="selectByUser3" resultType="TbUser1" parameterType="TbUser1">
        select *
        from `tb_user`
        where `user_id` = #{param1}
          and `user_name` = #{param2}
    </select>


    <!--自定义 resultmap-->
    <resultMap id="testResultMap" type="TbUser1">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
    </resultMap>

    <!--使用自定义 resultmap-->
    <select id="selectByUser4" resultMap="testResultMap">
        select *
        from `tb_user`
        where `user_id` = #{userIdWithDesignMap}
          and `user_name` = #{userNameWithDesignMap}
    </select>

    <!--动态sql配置-->
    <select id="selectUserForDynamic" resultType="TbUser1" parameterType="TbUser1">
        select *
        from `tb_user`
        where 1 = 1
        <if test="userId != null">
            and `user_id` = #{userId}
        </if>
        <if test="userName != null">
            and `user_name` = #{userName}
        </if>
    </select>

</mapper>