<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace的名字必须和mappr接口的全类名一致 -->
<mapper namespace="mybaties.xml.mapper.TbUserMapper1">
    <!-- id 要和方法名一致 -->
    <select id="selectByUserId" resultType="mybaties.xml.bean.TbUser1">
        select *
        from `tb_user`
        where `user_id` = #{userId}
    </select>

    <select id="selectByUser1" resultType="mybaties.xml.bean.TbUser1">
        select *
        from `tb_user`
        where `user_id` = #{userId}
          and `user_name` = #{userName}
    </select>

    <select id="selectByUser2" resultType="mybaties.xml.bean.TbUser1" parameterType="mybaties.xml.bean.TbUser1">
        select *
        from `tb_user`
        where `user_id` = #{userId}
          and `user_name` = #{userName}
    </select>

    <select id="selectByUser3" resultType="mybaties.xml.bean.TbUser1" parameterType="mybaties.xml.bean.TbUser1">
        select *
        from `tb_user`
        where `user_id` = #{param1}
          and `user_name` = #{param2}
    </select>
</mapper>