<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- id 唯一,随便写;class 是相对 java 文件夹的路径 -->
    <bean id="helloService" class="course.spring.spring_with_xml.HelloServiceImpl">
        <!-- property 是 class内的属性,name 对应 value,相当于 Autowired  -->
        <property name="name" value="zs"/>
<!--        <property name="age" ref="aa"/>-->
    </bean>
    <!--    <bean id="helloB" class="com.bt.study_spring.demo3.HelloB">-->

    <!--    </bean>-->
    <!--    <bean id="aa" class="com.bt.study_spring.demo3.Aoo"/>-->

</beans>