<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" allow-return-values="true">  <!-- 可定义测试套件名称 -->
<!--    <test name="TestNG">-->

<!--        <groups>-->
<!--            <run>-->
<!--                <include name="Tomandy"/>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="com.example.demo.cases.TestHelloWorld"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; TestNG &ndash;&gt;-->

    <test verbose="2" preserve-order="true" name="TestNG">
        <classes>
            <class name="com.example.demo.cases.TestNGHelloWorld1"/>
        </classes>
    </test>

</suite> <!-- Default Suite -->